FORMAT: 1A
HOST: http://www.google.com

# White Label
JSON contracts between back and front end for white label functionality

# Landing page

List of games and valid SimpleCashBack accounts

_eventId:
<ul>
    <li>To games slider: viewGame</li>
    <li>To accounts slider: viewScb</li>
</ul>

## User with games and SCB [/pages/whitelabel/rewardList.json]
### Valid [GET]
+ Response 200 (application/json)

        {
            "header": {
                "showMenu": true
            },
            "user": {
                "agent": {
                    "os": "Android"
                },
                "wlBrand": "NBA"
            },
            "pageContent": {
                "games": [
                    {
                        "gameId": "BP",
                        "name": "Bill Play",
                        "status": "NOT_ACTIVATED",
                        "summary": "Use Bill Play and you could earn $100 to spend at www.amazon.com",
                        "imageUrl": "https://www.bbvacompass.com/online-banking/clc/game/img/game_1_lock.png",
                        "goalFulfillment": 4,
                        "currentFulfillment": 0,
                        "transactions": null,
                        "rewardDetailsUrl": "https://www.bbvacompass.com/online-banking/game-1/rewarddetails.html",
                        "redeemDisclosureUrl": "",
                        "reward": null
                    },
                    {
                        "gameId": "NBABP",
                        "name": "Bill Play",
                        "status": "NOT_ACTIVATED",
                        "summary": "Use Bill Play and you could earn $100 to spend at www.nbastore.com",
                        "imageUrl": "https://www.bbvacompass.com/online-banking/clc/game/img/game_1_lock.png",
                        "goalFulfillment": 4,
                        "currentFulfillment": 0,
                        "transactions": null,
                        "rewardDetailsUrl": "https://www.bbvacompass.com/online-banking/game-1/rewarddetails.html",
                        "redeemDisclosureUrl": "",
                        "reward": null
                    },
                    {
                        "gameId": "DDD",
                        "name": "Direct Deposit Dash",
                        "status": "NOT_ACTIVATED",
                        "summary": "Receive Direct Deposit and you could get $15 to spend at www.amazon.com",
                        "imageUrl": "https://www.bbvacompass.com/online-banking/game2/img/game_2.png",
                        "goalFulfillment": 2,
                        "currentFulfillment": 0,
                        "transactions": null,
                        "rewardDetailsUrl": "https://www.bbvacompass.com/online-banking/game-2/rewarddetails.html",
                        "redeemDisclosureUrl": "",
                        "reward": null
                    },
                    {
                        "gameId": "SOS",
                        "name": "Swipe For Songs",
                        "status": "NOT_ACTIVATED",
                        "summary": "Use your BBVA Compass Check Card and you could get a $10 iTunes Gift Code!",
                        "imageUrl": "https://www.bbvacompass.com/online-banking/game3/img/game_3.png",
                        "goalFulfillment": 40,
                        "currentFulfillment": 0,
                        "transactions": null,
                        "rewardDetailsUrl": "https://www.bbvacompass.com/online-banking/game-3/rewardsdetails.html",
                        "redeemDisclosureUrl": "",
                        "reward": null
                    }
                ],
                "scb": [
                {
                    "activeAccount": true,
                    "description": "Checking",
                    "accountLast4": "5566",
                    "customerId": "0011986951",
                    "accountKey": "123213333"
                },
                {
                    "activeAccount": true,
                    "description": "Checking",
                    "accountLast4": "5566",
                    "customerId": "0011986951",
                    "accountKey": "123213333",
                    "nCurrentOffers": 2,
                    "nActivatedOffers": 5
                },
                {
                    "activeAccount": false,
                    "description": "Checkooong",
                    "accountLast4": "6234",
                    "customerId": "3262346332",
                    "accountKey": "123213"
                }
            ]
        }
                    

## User without games [/pages/whitelabel/rewardList.json?mockId=nogames]
### Valid [GET]
+ Response 200 (application/json)

        {
            "header": {
                "showMenu": true
            },
            "user": {
                "agent": {
                    "os": "Android"
                },
                "wlBrand": "NBA"
            },
            "pageContent": {
                "scb": [
                {
                    "activeAccount": true,
                    "description": "Checking",
                    "accountLast4": "5566",
                    "customerId": "0011986951",
                    "accountKey": "123213333"
                },
                {
                    "activeAccount": true,
                    "description": "Checking",
                    "accountLast4": "5566",
                    "customerId": "0011986951",
                    "accountKey": "123213333",
                    "nCurrentOffers": 2,
                    "nActiveOffers": 5
                },
                {
                    "activeAccount": false,
                    "description": "Checkooong",
                    "accountLast4": "6234",
                    "customerId": "3262346332",
                    "accountKey": "123213"
                }
            ]
        }
               

# Group Game

List of games

Form parameters:
<ul>
    <li>gameId</li>
</ul>

_eventId:
<ul>
    <li>To activate game: activate</li>
</ul>

## Games not activated [/pages/whitelabel/games.json]
### Valid [GET]
+ Response 200 (application/json)

        {
            "header": {
                "showMenu": true
            },
            "user": {
                "agent": {
                    "os": "Android"
                },
                "wlBrand": "NBA"
            },
            "pageContent": {
                "activeGameIndex": "2",
                "games": [
                    {
                        "gameId": "BP",
                        "name": "Bill Play",
                        "status": "NOT_ACTIVATED",
                        "summary": "Use Bill Play and you could earn $100 to spend at www.amazon.com",
                        "imageUrl": "https://www.bbvacompass.com/online-banking/clc/game/img/game_1_lock.png",
                        "goalFulfillment": 4,
                        "currentFulfillment": 0,
                        "transactions": null,
                        "rewardDetailsUrl": "https://www.bbvacompass.com/online-banking/game-1/rewarddetails.html",
                        "redeemDisclosureUrl": "",
                        "reward": null
                    },
                    {
                        "gameId": "NBABP",
                        "name": "Bill Play",
                        "status": "NOT_ACTIVATED",
                        "summary": "Use Bill Play and you could earn $100 to spend at www.nbastore.com",
                        "imageUrl": "https://www.bbvacompass.com/online-banking/clc/game/img/game_1_lock.png",
                        "goalFulfillment": 4,
                        "currentFulfillment": 0,
                        "transactions": null,
                        "rewardDetailsUrl": "https://www.bbvacompass.com/online-banking/game-1/rewarddetails.html",
                        "redeemDisclosureUrl": "",
                        "reward": null
                    },
                    {
                        "gameId": "DDD",
                        "name": "Direct Deposit Dash",
                        "status": "NOT_ACTIVATED",
                        "summary": "Receive Direct Deposit and you could get $15 to spend at www.amazon.com",
                        "imageUrl": "https://www.bbvacompass.com/online-banking/game2/img/game_2.png",
                        "goalFulfillment": 2,
                        "currentFulfillment": 0,
                        "transactions": null,
                        "rewardDetailsUrl": "https://www.bbvacompass.com/online-banking/game-2/rewarddetails.html",
                        "redeemDisclosureUrl": "",
                        "reward": null
                    },
                    {
                        "gameId": "SOS",
                        "name": "Swipe For Songs",
                        "status": "NOT_ACTIVATED",
                        "summary": "Use your BBVA Compass Check Card and you could get a $10 iTunes Gift Code!",
                        "imageUrl": "https://www.bbvacompass.com/online-banking/game3/img/game_3.png",
                        "goalFulfillment": 40,
                        "currentFulfillment": 0,
                        "transactions": null,
                        "rewardDetailsUrl": "https://www.bbvacompass.com/online-banking/game-3/rewardsdetails.html",
                        "redeemDisclosureUrl": "",
                        "reward": null
                    }
                ]
            }
        }


## Games in progress [/pages/whitelabel/games.json?mockId=inprogress]
### Valid [GET]
+ Response 200 (application/json)

        {
            "header": {
                "showMenu": true
            },
            "user": {
                "agent": {
                    "os": "Android"
                },
                "wlBrand": "CLC"
            },
            "pageContent": {
                "activeGameIndex": "1",
                "games": [
                    {
                        "gameId": "BP",
                        "name": "Bill Play",
                        "status": "IN_PROGRESS",
                        "summary": "75 days left",
                        "imageUrl": "https://www.bbvacompass.com/online-banking/clc/game/img/game_1_25.png",
                        "goalFulfillment": 4,
                        "currentFulfillment": 2,
                        "transactions": [
                            {
                                "date": 23515141111,
                                "description": "Account Openning",
                                "amount": null
                            },
                            {
                                "date": 23511351111,
                                "description": "First pay",
                                "amount": 51.23
                            }
                        ],
                        "rewardDetailsUrl": "https://www.bbvacompass.com/online-banking/game-1/rewarddetails.html",
                        "redeemDisclosureUrl": "",
                        "reward": null
                    },
                    {
                        "gameId": "NBABP",
                        "name": "Bill Play",
                        "status": "IN_PROGRESS",
                        "summary": "56 days left",
                        "imageUrl": "https://www.bbvacompass.com/online-banking/clc/game/img/game_1_lock.png",
                        "goalFulfillment": 4,
                        "currentFulfillment": 0,
                        "transactions": [
                            {
                                "date": 23515141111,
                                "description": "Account Openning",
                                "amount": null
                            }
                        ],
                        "rewardDetailsUrl": "https://www.bbvacompass.com/online-banking/game-1/rewarddetails.html",
                        "redeemDisclosureUrl": "",
                        "reward": null
                    },
                    {
                        "gameId": "DDD",
                        "name": "Direct Deposit Dash",
                        "status": "IN_PROGRESS",
                        "summary": "50 days left",
                        "imageUrl": "https://www.bbvacompass.com/online-banking/game2/img/game_2.png",
                        "goalFulfillment": 2,
                        "currentFulfillment": 1,
                        "transactions": [
                            {
                                "date": 23515141111,
                                "description": "Account Openning",
                                "amount": null
                            }
                        ],
                        "rewardDetailsUrl": "https://www.bbvacompass.com/online-banking/game-2/rewarddetails.html",
                        "redeemDisclosureUrl": "",
                        "reward": null
                    },
                    {
                        "gameId": "SOS",
                        "name": "Swipe For Songs",
                        "status": "IN_PROGRESS",
                        "summary": "12 days left",
                        "imageUrl": "https://www.bbvacompass.com/online-banking/game3/img/game_3.png",
                        "goalFulfillment": 40,
                        "currentFulfillment": 10,
                        "percentFulfillment": 25,
                        "transactions": [
                            {
                                "date": 23515141111,
                                "description": "Account Openning",
                                "amount": null
                            },
                            {
                                "date": 23515141111,
                                "description": "Account Openning",
                                "amount": null
                            },
                            {
                                "date": 23515141111,
                                "description": "Account Openning",
                                "amount": null
                            },
                            {
                                "date": 23515141111,
                                "description": "Account Openning",
                                "amount": null
                            },
                            {
                                "date": 23515141111,
                                "description": "Account Openning",
                                "amount": null
                            },
                            {
                                "date": 23515141111,
                                "description": "Account Openning",
                                "amount": null
                            },
                            {
                                "date": 23515141111,
                                "description": "Account Openning",
                                "amount": null
                            },
                            {
                                "date": 23515141111,
                                "description": "Account Openning",
                                "amount": null
                            },
                            {
                                "date": 23515141111,
                                "description": "Account Openning",
                                "amount": null
                            },
                            {
                                "date": 23515141111,
                                "description": "Account Openning",
                                "amount": null
                            }
                        ],
                        "rewardDetailsUrl": "https://www.bbvacompass.com/online-banking/game-3/rewardsdetails.html",
                        "redeemDisclosureUrl": "",
                        "reward": null
                    }
                ]
            }
        }


## Games in progress [/pages/whitelabel/games.json?mockId=complete]
### Valid [GET]
+ Response 200 (application/json)

        {
            "header": {
                "showMenu": true
            },
            "user": {
                "agent": {
                    "os": "iOS"
                },
                "wlBrand": "NBA"
            },
            "pageContent": {
                "activeGameIndex": "3",
                "games": [
                    {
                        "gameId": "BP",
                        "name": "Bill Play",
                        "status": "COMPLETE",
                        "summary": "Congratulations! You have earned the Bill Pay reward",
                        "imageUrl": "https://www.bbvacompass.com/online-banking/clc/game/img/game_1_100.png",
                        "goalFulfillment": 4,
                        "currentFulfillment": 4,
                        "transactions": [
                            {
                                "date": 23515141111,
                                "description": "Account Openning",
                                "amount": null
                            },
                            {
                                "date": 23511351111,
                                "description": "First pay",
                                "amount": 51.23
                            },
                            {
                                "date": 23511351111,
                                "description": "Second pay",
                                "amount": 51.23
                            },
                            {
                                "date": 23511351111,
                                "description": "Third pay",
                                "amount": 51.23
                            }
                        ],
                        "rewardDetailsUrl": "https://www.bbvacompass.com/online-banking/game-1/rewarddetails.html",
                        "redeemDisclosureUrl": "",
                        "reward": {
                            "code": "5121HH-23GG2",
                            "pin": "14252522",
                            "redeemUrl": "http://www.amazon.com/gp/css/gc/payment/view-gc-balance",
                            "amount": 100
                        }
                    },
                    {
                        "gameId": "NBABP",
                        "name": "Bill Play",
                        "status": "COMPLETE",
                        "summary": "56 days left",
                        "imageUrl": "https://www.bbvacompass.com/online-banking/clc/game/img/game_1_lock.png",
                        "goalFulfillment": 4,
                        "currentFulfillment": 0,
                        "transactions": [
                            {
                                "date": 23515141111,
                                "description": "Account Openning",
                                "amount": null
                            }
                        ],
                        "rewardDetailsUrl": "https://www.bbvacompass.com/online-banking/game-1/rewarddetails.html",
                        "redeemDisclosureUrl": "",
                        "reward": {
                            "code": "4821HH-83G45",
                            "pin": "04234212",
                            "redeemUrl": "http://www.nbastore.com/bbvacompass",
                            "amount": 100
                        }
                    },
                    {
                        "gameId": "DDD",
                        "name": "Direct Deposit Dash",
                        "status": "COMPLETE",
                        "summary": "50 days left",
                        "imageUrl": "https://www.bbvacompass.com/online-banking/game2/img/game_2.png",
                        "goalFulfillment": 2,
                        "currentFulfillment": 1,
                        "transactions": [
                            {
                                "date": 23515141111,
                                "description": "Account Openning",
                                "amount": null
                            }
                        ],
                        "rewardDetailsUrl": "https://www.bbvacompass.com/online-banking/game-2/rewarddetails.html",
                        "redeemDisclosureUrl": "",
                        "reward": {
                            "code": "76209H-40G45",
                            "redeemUrl": "http://www.amazon.com/gp/css/gc/payment/view-gc-balance",
                            "amount": 10
                        }
                    },
                    {
                        "gameId": "SOS",
                        "name": "Swipe For Songs",
                        "status": "COMPLETE",
                        "summary": "12 days left",
                        "imageUrl": "https://www.bbvacompass.com/online-banking/game3/img/game_3.png",
                        "goalFulfillment": 40,
                        "currentFulfillment": 40,
                        "transactions": [
                            {
                                "date": 23515141111,
                                "description": "Account Openning",
                                "amount": null
                            },
                            {
                                "date": 23515141111,
                                "description": "Account Openning",
                                "amount": null
                            },
                            {
                                "date": 23515141111,
                                "description": "Account Openning",
                                "amount": null
                            },
                            {
                                "date": 23515141111,
                                "description": "Account Openning",
                                "amount": null
                            },
                            {
                                "date": 23515141111,
                                "description": "Account Openning",
                                "amount": null
                            },
                            {
                                "date": 23515141111,
                                "description": "Account Openning",
                                "amount": null
                            },
                            {
                                "date": 23515141111,
                                "description": "Account Openning",
                                "amount": null
                            },
                            {
                                "date": 23515141111,
                                "description": "Account Openning",
                                "amount": null
                            },
                            {
                                "date": 23515141111,
                                "description": "Account Openning",
                                "amount": null
                            },
                            {
                                "date": 23515141111,
                                "description": "Account Openning",
                                "amount": null
                            }
                        ],
                        "rewardDetailsUrl": "https://www.bbvacompass.com/online-banking/game-3/rewardsdetails.html",
                        "redeemDisclosureUrl": "",
                        "reward": {
                            "code": "25986H-HH325",
                            "redeemUrl": "http://www.amazon.com",
                            "amount": 10
                        }
                    }
                ]
            }
        }


## Games expired [/pages/whitelabel/games.json?mockId=expired]
### Valid [GET]
+ Response 200 (application/json)

        {
            "header": {
                "showMenu": true
            },
            "user": {
                "agent": {
                    "os": "iOS"
                },
                "wlBrand": "NBA"
            },
            "pageContent": {
                "activeGameIndex": "4",
                "games": [
                    {
                        "gameId": "BP",
                        "name": "Bill Play",
                        "status": "EXPIRED",
                        "summary": "Expired",
                        "imageUrl": "https://www.bbvacompass.com/online-banking/clc/game/img/game_1_lock.png",
                        "goalFulfillment": 4,
                        "currentFulfillment": 0,
                        "transactions": null,
                        "rewardDetailsUrl": "https://www.bbvacompass.com/online-banking/game-1/rewarddetails.html",
                        "redeemDisclosureUrl": "",
                        "reward": null
                    },
                    {
                        "gameId": "NBABP",
                        "name": "Bill Play",
                        "status": "EXPIRED",
                        "summary": "Expired",
                        "imageUrl": "https://www.bbvacompass.com/online-banking/clc/game/img/game_1_lock.png",
                        "goalFulfillment": 4,
                        "currentFulfillment": 0,
                        "transactions": null,
                        "rewardDetailsUrl": "https://www.bbvacompass.com/online-banking/game-1/rewarddetails.html",
                        "redeemDisclosureUrl": "",
                        "reward": null
                    },
                    {
                        "gameId": "DDD",
                        "name": "Direct Deposit Dash",
                        "status": "EXPIRED",
                        "summary": "Expired",
                        "imageUrl": "https://www.bbvacompass.com/online-banking/game2/img/game_2.png",
                        "goalFulfillment": 2,
                        "currentFulfillment": 0,
                        "transactions": null,
                        "rewardDetailsUrl": "https://www.bbvacompass.com/online-banking/game-3/rewardsdetails.html",
                        "redeemDisclosureUrl": "",
                        "reward": null
                    },
                    {
                        "gameId": "SOS",
                        "name": "Swipe For Songs",
                        "status": "EXPIRED",
                        "summary": "Expired",
                        "imageUrl": "https://www.bbvacompass.com/online-banking/game3/img/game_3.png",
                        "goalFulfillment": 40,
                        "currentFulfillment": 0,
                        "transactions": null,
                        "rewardDetailsUrl": "https://www.bbvacompass.com/online-banking/game-3/rewardsdetails.html",
                        "redeemDisclosureUrl": "",
                        "reward": null
                    }
                ]
            }
        }


# Group Terms & Conditions

Show terms to activate a game

Form parameters:
<ul>
    <li>gameId</li>
</ul>

_eventId:
<ul>
    <li>To activate game: acceptTerms</li>
    <li>To decline: declineTerms</li>
</ul>

## DDD [/pages/whitelabel/games/terms.json]
### Valid [GET]
+ Response 200 (application/json)

        {
            "user": {
                "agent": {
                    "os": "Android"
                },
                "wlBrand": "BAMA"
            },
            "pageContent": {
                "game": {
                    "gameId": "DDD",
                    "name": "Direct Deposit Dash"
                },
                "url": "http://www.bbvacompass.com/online-banking/nba/game/rewards-disclosure.html"
            }
        }                    


# Group Activate

List of account to activate a game

Form parameters:
<ul>
    <li>gameId</li>
    <li>accountKey</li>
</ul>

_eventId:
<ul>
    <li>To activate game: activate</li>
    <li>To cancel: cancel</li>
</ul>

## Two accounts [/pages/whitelabel/games/activate.json]
### Valid [GET]
+ Response 200 (application/json)

        {
            "header": {
                "showMenu": true
            },
            "user": {
                "agent": {
                    "os": "Android"
                },
                "wlBrand": "NBA"
            },
            "pageContent": {
                "game": {
                    "gameId": "DDD",
                    "name": "Direct Deposit Dash",
                    "rewardDetailsUrl": "https://www.bbvacompass.com/online-banking/game-3/rewardsdetails.html"
                },
                "accounts": [
                    {
                        "key": "00000000",
                        "description": "Checkongggg",
                        "accountLast4": "5522"
                    },
                    {
                        "key": "00000001",
                        "description": "Checkingggg",
                        "accountLast4": "6132"
                    }
                ]
            }
        }
        
## One accounts [/pages/whitelabel/games/activate.json?mockId=oneaccount]
### Valid [GET]
+ Response 200 (application/json)

        {
            "header": {
                "showMenu": true
            },
            "user": {
                "agent": {
                    "os": "Android"
                },
                "wlBrand": "DYNAMO"
            },
            "pageContent": {
                "game": {
                    "gameId": "DDD",
                    "name": "Direct Deposit Dash",
                    "rewardDetailsUrl": "https://www.bbvacompass.com/online-banking/game-3/rewardsdetails.html"
                },
                "accounts": [
                    {
                        "key": "00000000",
                        "description": "Checkongggg",
                        "accountLast4": "5522"
                    }
                ]
            }
        }
            
# Group Scores

Show scores


## Scores [/pages/whitelabel/scores.json]
### Valid [GET]
+ Response 200 (application/json)

        {
            "header": {
                "showMenu": true
            },
            "user": {
                "agent": {
                    "os": "Android"
                },
                "wlBrand": "NBA"
            },
            "pageContent": {
                "activeDayIndex": "1",
                "days": [
                    {
                        "date": "Thu, Jun 14",
                        "matches": [ 
                            {
                                "liveLinkText": "",
                                "local": {
                                    "key": "PHX",
                                    "score": 99
                                },
                                "quarter": 4,
                                "status" : "FINISHED",
                                "statusText": "FINAL",
                                "broadcasterText": null,
                                "visitant": {
                                    "key": "LAC",
                                    "score": 117
                                }
                            },
                            {
                                "liveLinkText": "",
                                "local": {
                                    "key": "GSW",
                                    "score": 101
                                },
                                "quarter": 4,
                                "status" : "FINISHED",
                                "statusText": "FINAL",
                                "broadcasterText": null,
                                "visitant": {
                                    "key": "WAS",
                                    "score": 97
                                }
                            }
                        ]
                    },
                    {
                        "date": "Fri, Jun 14",
                        "matches": [ 
                            {
                                "liveLinkText": "",
                                "local": {
                                    "key": "TOR",
                                    "score": 83
                                },
                                "quarter": 4,
                                "status" : "FINISHED",
                                "statusText": "FINAL",
                                "broadcasterText": null,
                                "visitant": {
                                    "key": "LAC",
                                    "score": 102
                                }
                            },
                            {
                                "liveLinkText": "",
                                "local": {
                                    "key": "MIL",
                                    "score": 77
                                },
                                "quarter": 4,
                                "status" : "PLAYING",
                                "statusText": "10:24",
                                "broadcasterText": null,
                                "visitant": {
                                    "key": "BKN",
                                    "score": 56
                                }
                            },
                            {
                                "liveLinkText": "LIVE",
                                "local": {
                                    "key": "DEN",
                                    "score": 15
                                },
                                "quarter": 1,
                                "status" : "PLAYING",
                                "statusText": "5:55",
                                "broadcasterText": "NBA TV",
                                "visitant": {
                                    "key": "NYK",
                                    "score": 10
                                }
                            },
                            {
                                "liveLinkText": "",
                                "local": {
                                    "key": "ORL",
                                    "score": 0
                                },
                                "quarter": 0,
                                "status" : "NOT_STARTED",
                                "statusText": "8:00 pm ET",
                                "broadcasterText": null,
                                "visitant": {
                                    "key": "PHX",
                                    "score": 0
                                }
                            }
                        ]
                    },
                    {
                        "date": "Sat, Jun 14",
                        "matches": [ 
                            {
                                "liveLinkText": "",
                                "local": {
                                    "key": "DET",
                                    "score": null
                                },
                                "quarter": null,
                                "status" : "NOT_STARTED",
                                "statusText": "7:00 pm ET",
                                "broadcasterText": "NBA TV",
                                "visitant": {
                                    "key": "PHI",
                                    "score": null
                                }
                            },
                            {
                                "liveLinkText": "",
                                "local": {
                                    "key": "GSW",
                                    "score": null
                                },
                                "quarter": null,
                                "status" : "NOT_STARTED",
                                "statusText": "7:00 pm ET",
                                "broadcasterText": null,
                                "visitant": {
                                    "key": "CHA",
                                    "score": null
                                }
                            },
                            {
                                "liveLinkText": "",
                                "local": {
                                    "key": "ATL",
                                    "score": null
                                },
                                "quarter": null,
                                "status" : "NOT_STARTED",
                                "statusText": "7:30 pm ET",
                                "broadcasterText": null,
                                "visitant": {
                                    "key": "MIA",
                                    "score": null
                                }
                            }
                        ]
                    }
                ]
            }
        }                    

## No matchs some day [/pages/whitelabel/scores.json?mockId=noMatch]
### Valid [GET]
+ Response 200 (application/json)

        {
            "header": {
                "showMenu": true
            },
            "user": {
                "agent": {
                    "os": "Android"
                },
                "wlBrand": "NBA"
            },
            "pageContent": {
                "activeDayIndex": "1",
                "days": [
                    {
                        "date": "Thu, Jun 14",
                        "matches": [ 
                            {
                                "liveLinkText": "",
                                "local": {
                                    "key": "PHX",
                                    "score": 99
                                },
                                "quarter": 4,
                                "status" : "FINISHED",
                                "statusText": "FINAL",
                                "broadcasterText": null,
                                "visitant": {
                                    "key": "LAC",
                                    "score": 117
                                }
                            },
                            {
                                "liveLinkText": "",
                                "local": {
                                    "key": "GSW",
                                    "score": 101
                                },
                                "quarter": 4,
                                "status" : "FINISHED",
                                "statusText": "FINAL",
                                "broadcasterText": null,
                                "visitant": {
                                    "key": "WAS",
                                    "score": 97
                                }
                            }
                        ]
                    },
                    {
                        "date": "Fri, Jun 14",
                        "matches": null
                    },
                    {
                        "date": "Sat, Jun 14",
                        "matches": [ 
                            {
                                "liveLinkText": "",
                                "local": {
                                    "key": "DET",
                                    "score": null
                                },
                                "quarter": null,
                                "status" : "NOT_STARTED",
                                "statusText": "7:00 pm ET",
                                "broadcasterText": "NBA TV",
                                "visitant": {
                                    "key": "PHI",
                                    "score": null
                                }
                            },
                            {
                                "liveLinkText": "",
                                "local": {
                                    "key": "GSW",
                                    "score": null
                                },
                                "quarter": null,
                                "status" : "NOT_STARTED",
                                "statusText": "7:00 pm ET",
                                "broadcasterText": null,
                                "visitant": {
                                    "key": "CHA",
                                    "score": null
                                }
                            },
                            {
                                "liveLinkText": "",
                                "local": {
                                    "key": "ATL",
                                    "score": null
                                },
                                "quarter": null,
                                "status" : "NOT_STARTED",
                                "statusText": "7:30 pm ET",
                                "broadcasterText": null,
                                "visitant": {
                                    "key": "MIA",
                                    "score": null
                                }
                            }
                        ]
                    }
                ]
            }
        }                    

# Group Simple Cash Back

Show scores

Form parameters:
<ul>
    <li>offerId</li>
    <li>offerDetailId</li>
</ul>

_eventId:
<ul>
    <li>To activate offer: activateOffer</li>
    <li>To expand offer: expandOffer</li>
</ul>

## Scores [/pages/whitelabel/simpleCashBack.json]
### Valid [GET]
+ Response 200 (application/json)

        {
            "header": {
                "showMenu": true
            },
            "user": {
                "agent": {
                    "os": "iOS"
                },
                "wlBrand": "NONE"
            },
            "pageContent": [
                {
                    "activeAccount": true,
                    "description": "Checking",
                    "accountLast4": "5566",
                    "customerId": "0011986951",
                    "accountKey": "123213333",
                    "currentOffers": [
                        {
                            "offerId": "42568",
                            "offerDetailId": "42568",
                            "name": "DIRECTV",
                            "imageId": "2000010142568",
                            "endDate": 1382914800000,
                            "text": "It's not too late to take advantage of a great offer! You can still switch to DIRECTV and earn $100 cash back! Simply activate the DIRECTV® ENTERTAINMENT Package or higher. And don't pass up the opportunity to begin your early research for the NCAA basketball tournament by subscribing to ESPN FULL COURT - see up to 30 college basketball games a week, including key match-ups from the top conferences! <a class='cardlytics_anchor_styling cardlytics_anchor_target' target='_blank' href='http://www.directv.com/DTVAPP/content/directv-tv-deals-gm?CMP=LEC-Cardlytics&CardTag=BBV-168O-64Q-F-H' title='DIRECTV order must be placed online through this link'>DIRECTV order must be placed online through this link</a>.<br><br>New approved customers only. Phone orders not eligible. Account must be active for 45 days to receive $100 cash back. <a class='cardlytics_anchor_styling cardlytics_anchor_target' target='_blank' href='http://www.directv.com/DTVAPP/content/directv-tv-deals-gm?CMP=LEC-Cardlytics&CardTag=BBV-168O-64Q-F-H' title='See additional terms & conditions at DIRECTV.com'>See additional terms & conditions at DIRECTV.com</a>. Offer valid one time only. Offer expires 10/28/2013.",
                            "daysLeft": 13,
                            "amount": 100.0,
                            "trackingUrl": "/api/whiteLabel/scb/offerImage.data"
                        }, {
                            "offerId": "44290",
                            "offerDetailId": "44290",
                            "name": "Redbox",
                            "imageId": "2000010144290",
                            "endDate": 1382914800000,
                            "text": "Looking for great movies to rent or games to try? Redbox has hundreds of titles to choose from - for cheap, at the places you already shop! Earn 15%% cash back with each movie or video game rental! Choose from the latest releases in DVD or Blu-ray™, and video games for PlayStation, X-Box and Wii! You can even reserve them online, then pick them up at Redbox later! <a class='cardlytics_anchor_styling cardlytics_anchor_target' target='_blank' href='http://www.redbox.com' title='Find the nearest Redbox location'>Find the nearest Redbox location</a>.<br><br>Offer not valid on Redbox Instant by Verizon purchases. Offer not valid on gift card purchases. Payment must be made prior to offer expiration. Offer valid on all purchases through 10/28/2013. ©Copyright 2013 Redbox Automated Retail, LLC.",
                            "daysLeft": 13,
                            "amount": 15.0,
                            "trackingUrl": "/api/whiteLabel/scb/offerImage.data"
                        }
                    ],
                    "activeOffers": [
                        {
                            "offerId": "42899",
                            "offerDetailId": "42899",
                            "name": "Starbucks",
                            "imageId": "2000010146582",
                            "endDate": 1382914800000,
                            "text": "It's not too late to take advantage of a great offer! You can still switch to DIRECTV and earn $100 cash back! Simply activate the DIRECTV® ENTERTAINMENT Package or higher. And don't pass up the opportunity to begin your early research for the NCAA basketball tournament by subscribing to ESPN FULL COURT - see up to 30 college basketball games a week, including key match-ups from the top conferences! <a class='cardlytics_anchor_styling cardlytics_anchor_target' target='_blank' href='http://www.directv.com/DTVAPP/content/directv-tv-deals-gm?CMP=LEC-Cardlytics&CardTag=BBV-168O-64Q-F-H' title='DIRECTV order must be placed online through this link'>DIRECTV order must be placed online through this link</a>.<br><br>New approved customers only. Phone orders not eligible. Account must be active for 45 days to receive $100 cash back. <a class='cardlytics_anchor_styling cardlytics_anchor_target' target='_blank' href='http://www.directv.com/DTVAPP/content/directv-tv-deals-gm?CMP=LEC-Cardlytics&CardTag=BBV-168O-64Q-F-H' title='See additional terms & conditions at DIRECTV.com'>See additional terms & conditions at DIRECTV.com</a>. Offer valid one time only. Offer expires 10/28/2013.",
                            "daysLeft": 10,
                            "amount": 100.0,
                            "trackingUrl": "/api/whiteLabel/scb/offerImage.data"
                        }, {
                            "offerId": "44952",
                            "offerDetailId": "44952",
                            "name": "Ryans",
                            "imageId": "2000010147650",
                            "endDate": 1382914800000,
                            "text": "Looking for great movies to rent or games to try? Redbox has hundreds of titles to choose from - for cheap, at the places you already shop! Earn 15%% cash back with each movie or video game rental! Choose from the latest releases in DVD or Blu-ray™, and video games for PlayStation, X-Box and Wii! You can even reserve them online, then pick them up at Redbox later! <a class='cardlytics_anchor_styling cardlytics_anchor_target' target='_blank' href='http://www.redbox.com' title='Find the nearest Redbox location'>Find the nearest Redbox location</a>.<br><br>Offer not valid on Redbox Instant by Verizon purchases. Offer not valid on gift card purchases. Payment must be made prior to offer expiration. Offer valid on all purchases through 10/28/2013. ©Copyright 2013 Redbox Automated Retail, LLC.",
                            "daysLeft": 9,
                            "amount": 15.0,
                            "trackingUrl": "/api/whiteLabel/scb/offerImage.data"
                        }
                    ]
                },
                {
                    "activeAccount": false,
                    "description": "Checkooong",
                    "accountLast4": "6234",
                    "customerId": "3262346332",
                    "accountKey": "123213"
                }
            ],
            "flowExecutionUrl": "/whiteLabel/simpleCashBack/nextAccount.html?execution=e1s1"
        }
        
## No offers [/pages/whitelabel/simpleCashBack.json?mockId=nooffers]
### Valid [GET]
+ Response 200 (application/json)

        {
            "header": {
                "showMenu": true
            },
            "user": {
                "agent": {
                    "os": "iOS"
                },
                "wlBrand": "NONE"
            },
            "pageContent":  [
                {
                    "activeAccount": true,
                    "description": "Checking",
                    "accountLast4": "5566",
                    "customerId": "0011986951",
                    "accountKey": "123213333"
                },
                {
                    "activeAccount": false,
                    "description": "Checkooong",
                    "accountLast4": "6234",
                    "customerId": "3262346332",
                    "accountKey": "123213"
                }
            ],
            "flowExecutionUrl": "/whiteLabel/simpleCashBack/nextAccount.html?execution=e1s1"
        }
        
## Get next Account [/pages/whitelabel/simpleCashBackNextAccount.json]
### Valid [GET]
+ Response 200 (application/json)

        {
            "user": {
                "agent": {
                    "os": "Android"
                },
                "wlBrand": "DYNAMO"
            },
            "pageContent": {
                "activeAccount": true,
                "description": "Checkooong",
                "accountLast4": "6234",
                "customerId": "3262346332",
                "accountKey": "123213",
                "currentOffers": [
                    {
                        "offerId": "42568",
                        "offerDetailId": "42568",
                        "name": "DIRECTV",
                        "imageId": "2000010142568",
                        "endDate": 1382914800000,
                        "text": "It's not too late to take advantage of a great offer! You can still switch to DIRECTV and earn $100 cash back! Simply activate the DIRECTV® ENTERTAINMENT Package or higher. And don't pass up the opportunity to begin your early research for the NCAA basketball tournament by subscribing to ESPN FULL COURT - see up to 30 college basketball games a week, including key match-ups from the top conferences! <a class='cardlytics_anchor_styling cardlytics_anchor_target' target='_blank' href='http://www.directv.com/DTVAPP/content/directv-tv-deals-gm?CMP=LEC-Cardlytics&CardTag=BBV-168O-64Q-F-H' title='DIRECTV order must be placed online through this link'>DIRECTV order must be placed online through this link</a>.<br><br>New approved customers only. Phone orders not eligible. Account must be active for 45 days to receive $100 cash back. <a class='cardlytics_anchor_styling cardlytics_anchor_target' target='_blank' href='http://www.directv.com/DTVAPP/content/directv-tv-deals-gm?CMP=LEC-Cardlytics&CardTag=BBV-168O-64Q-F-H' title='See additional terms & conditions at DIRECTV.com'>See additional terms & conditions at DIRECTV.com</a>. Offer valid one time only. Offer expires 10/28/2013.",
                        "daysLeft": 13,
                        "amount": 100.0,
                        "trackingUrl": "/api/whiteLabel/scb/offerImage.data"
                    }
                ],
                "activeOffers": [
                    {
                        "offerId": "42899",
                        "offerDetailId": "42899",
                        "name": "Starbucks",
                        "imageId": "2000010146582",
                        "endDate": 1382914800000,
                        "text": "It's not too late to take advantage of a great offer! You can still switch to DIRECTV and earn $100 cash back! Simply activate the DIRECTV® ENTERTAINMENT Package or higher. And don't pass up the opportunity to begin your early research for the NCAA basketball tournament by subscribing to ESPN FULL COURT - see up to 30 college basketball games a week, including key match-ups from the top conferences! <a class='cardlytics_anchor_styling cardlytics_anchor_target' target='_blank' href='http://www.directv.com/DTVAPP/content/directv-tv-deals-gm?CMP=LEC-Cardlytics&CardTag=BBV-168O-64Q-F-H' title='DIRECTV order must be placed online through this link'>DIRECTV order must be placed online through this link</a>.<br><br>New approved customers only. Phone orders not eligible. Account must be active for 45 days to receive $100 cash back. <a class='cardlytics_anchor_styling cardlytics_anchor_target' target='_blank' href='http://www.directv.com/DTVAPP/content/directv-tv-deals-gm?CMP=LEC-Cardlytics&CardTag=BBV-168O-64Q-F-H' title='See additional terms & conditions at DIRECTV.com'>See additional terms & conditions at DIRECTV.com</a>. Offer valid one time only. Offer expires 10/28/2013.",
                        "daysLeft": 10,
                        "amount": 100.0,
                        "trackingUrl": "/api/whiteLabel/scb/offerImage.data"
                    }, {
                        "offerId": "44952",
                        "offerDetailId": "44952",
                        "name": "Ryans",
                        "imageId": "2000010147650",
                        "endDate": 1382914800000,
                        "text": "Looking for great movies to rent or games to try? Redbox has hundreds of titles to choose from - for cheap, at the places you already shop! Earn 15%% cash back with each movie or video game rental! Choose from the latest releases in DVD or Blu-ray™, and video games for PlayStation, X-Box and Wii! You can even reserve them online, then pick them up at Redbox later! <a class='cardlytics_anchor_styling cardlytics_anchor_target' target='_blank' href='http://www.redbox.com' title='Find the nearest Redbox location'>Find the nearest Redbox location</a>.<br><br>Offer not valid on Redbox Instant by Verizon purchases. Offer not valid on gift card purchases. Payment must be made prior to offer expiration. Offer valid on all purchases through 10/28/2013. ©Copyright 2013 Redbox Automated Retail, LLC.",
                        "daysLeft": 9,
                        "amount": 15.0,
                        "trackingUrl": "/api/whiteLabel/scb/offerImage.data"
                    }
                ]
            },
            "flowExecutionUrl": "/whiteLabel/simpleCashBack/nextAccount.html?execution=e2s2"
        }


## Offers loaded [/api/whiteLabel/scb/offersLoaded.json]
### Valid [GET]
+ Response 200 (application/json)

        {
            "status": "OK"
        }

## Activate offer [/api/whiteLabel/scb/activateOffer.json]
### Valid [GET]
+ Response 200 (application/json)

        {
            "status": "OK"
        }
        
## Activate offer error [/api/whiteLabel/scb/activateOffer.json?mockId=error]
### Valid [GET]
+ Response 200 (application/json)

        {
            "status": "ERROR"
        }
        
## External Link [/api/whiteLabel/scb/externalLink.json]
### Valid [GET]
+ Response 200 (application/json)

        {
            "status": "OK"
        }
